@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  font-size: 18px;
  line-height: 1.5;
  color: #4d2323;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid blue;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

.section-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
  font-family: 'Rubik 80s Fade', cursive;
  color: #4d2323;
  letter-spacing: 5px;
}

.nav-link:hover {
  text-decoration: underline;
  color: #5d7260;
}

.title {
  font-family: 'Rubik 80s Fade', cursive;
}

.header {
  border: 1px solid red;
}
.main {
  border: 1px solid green;
}
.footer {
  border: 1px solid black;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
























































.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}